.list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .viewport {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell:filled:selected {
    -fx-background-color: transparent;
}
.list-cell:filled:selected .text {
    -fx-fill: black;
}

