.button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-cursor: hand;
}
.button:hover {
    -fx-text-fill: #333;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.1, 0, 2);
}
